@import "../../utils/variables";
@import "../../utils/mixins";

#content {
  width: 100%;

  & #header {
    grid-area: A;
    width: 100%;
    margin: 0 0 40px;

    & h1 {
      margin: 0 0 8px;
      font-size: 32px;
      font-weight: 700;
    }

    & h2 {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      color: $secondary-text-color;
    }
  }

  & #info {
    grid-area: B;
    padding: 16px 24px 24px;
    background-color: $select-plan;
    border-radius: 8px;

    & #plan {
      display: grid;
      grid-template-areas:
        "A C"
        "B C";
      align-items: center;
      justify-content: space-between;

      padding: 0 0 22px;

      border-bottom: 1px solid $shadow-color;

      & p:first-child {
        grid-area: A;
        margin: 0 0 8px;
        font-weight: 500;
        text-transform: capitalize;
      }

      & #change-plan {
        cursor: pointer;

        grid-area: B;

        width: max-content;
        height: max-content;
        padding: 0;

        font-size: 14px;
        line-height: 20px;
        color: $secondary-text-color;
        text-decoration: underline;

        background: none;

        &:hover {
          color: $select-input;
        }
      }

      & p:last-child {
        grid-area: C;
        font-weight: 600;
      }
    }

    & .add-ons {
      @include flex("space-between&center");

      margin: 20px 0;
      font-size: 14px;
      line-height: 20px;
      color: $secondary-text-color;

      & span:last-child {
        color: $primary-text-color;
      }

      &:last-child {
        margin: 20px 0 0;
      }
    }
  }

  & #total {
    @include flex("space-between&center");

    grid-area: C;
    margin: 24px 0 0;
    padding: 0 24px;
    line-height: 20px;

    & span:first-child {
      font-size: 14px;
      color: $secondary-text-color;
    }

    & span:last-child {
      font-size: 20px;
      font-weight: 600;
      color: $select-input;
    }
  }
}

#controls {
  @include flex("space-between&center");

  width: 100%;

  & #go-back {
    width: max-content;
    padding-right: 0;
    padding-left: 0;

    color: $secondary-text-color;

    background: transparent;
  }

  & #next-step {
    width: 124px;
    background-color: $select-input;

    &:disabled,
    &:hover {
      background-color: $summary-hover-button;
    }

    &:disabled {
      pointer-events: none;
    }
  }
}

@media screen and (width <= 940px) {
  #content {
    width: calc(100% - 32px);
    min-width: 311px;
    margin: 0 0 159px;
    padding: 32px 24px;

    background-color: $background-white;
    border-radius: 8px;
    box-shadow: $content-box-shadow;

    & #header {
      margin: 0 0 22px;

      & h1 {
        font-size: 24px;
      }
    }

    & #info {
      padding: 16px;

      & #plan {
        display: grid;
        grid-template-areas:
          "A C"
          "B C";
        align-items: center;
        justify-content: space-between;

        padding: 0 0 12px;

        border-bottom: 1px solid $shadow-color;

        & p {
          &:first-child {
            margin: 0 0 3px;
            font-size: 14px;
          }

          &:nth-child(3) {
            font-size: 14px;
          }
        }
      }

      & .add-ons {
        margin: 12px 0;

        &:last-child {
          margin: 12px 0 0;
        }
      }
    }

    & #total {
      margin: 22px 0 0;
      padding: 0 18px;

      & span:last-child {
        font-size: 16px;
      }
    }
  }

  #controls {
    height: 72px;
    padding: 0 16px;
    background-color: $background-white;
  }
}
