@import "../utils/variables";
@import "../utils/mixins";

.challenge {
  padding: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid $prime-text-color;

  @include flex("space-between&center");

  & .arrow {
    padding: 5px;
    border-radius: 100px;
    background-color: $prime-text-color;

    @include flex("center&center");

    & svg {
      fill: $prime-background-color;
    }
  }
}
