@import "../utils/mixins";
@import "../utils/variables";

.challenge {
  cursor: pointer;
  text-transform: capitalize;

  & img {
    width: 100%;
    display: block;
    filter: grayscale(100%) opacity(0.25);
    transition: $animation-transition;
  }

  & .name {
    overflow: hidden;
    width: 100%;
    height: 25px;
    margin: 5px 0 0;
    font-size: 12px;

    & p {
      transition: $animation-transition;
      transform: translateY(-100%);
    }
  }

  &:hover {
    & img {
      filter: grayscale(0%) opacity(1);
      opacity: 1;
    }

    & .name {
      & p {
        transform: translateY(0%);
      }
    }
  }
}
