@import "../utils/mixins";
@import "../utils/variables";

.challenge {
  font-size: 16px;
  text-transform: uppercase;

  & .preview {
    overflow: hidden;
    position: relative;

    & img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      transform-origin: right;
      transition: $animation-transition;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $prime-background-color;
      transform-origin: right;
      transition: $animation-transition;
      transform: scaleX(0);
    }
  }

  & .name {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 10px 0 0;
    padding: 5px 0 0;

    @include flex("space-between&center");

    & p,
    svg {
      transition: $animation-transition;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      border-bottom: 1px solid $prime-text-color;
      transform-origin: right;
      transition: $animation-transition;
    }
  }

  &.active {
    & .preview {
      & img {
        transform-origin: right;
        transform: translateX(-10%);
      }

      &::before {
        transform-origin: right;
        transform: scaleX(1);
      }
    }

    & .name {
      & p,
      svg {
        transform: translateY(120%);
      }

      &::before {
        transform-origin: right;
        transform: scaleX(0);
      }
    }
  }
}
