@import "../utils/variables";
@import "../utils/mixins";

main {
  width: 100%;
  max-width: 1675px;
  height: 100%;
  margin: 200px 0;
  flex-grow: 1;

  @include flex("start&center", "col");

  & #titleTag {
    margin-bottom: 25px;
    padding-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid $prime-text-color;
  }

  & #challenges {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, min(100vw - 30px, 400px));
    column-gap: 25px;
    justify-content: center;

    & .chunk {
      @include flex("start&center", "col");
    }
  }
}
