@import "../utils/mixins";
@import "../utils/variables";

@keyframes opacity-awake {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-up-awake {
  0%,
  50% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-left-awake {
  0%,
  50% {
    opacity: 0;
    transform: translateX(200%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-x-awake {
  0%,
  20% {
    transform-origin: right;
    transform: scaleX(0);
  }

  54% {
    transform-origin: right;
    transform: scaleX(1);
  }

  55% {
    transform-origin: left;
    transform: scaleX(1);
  }

  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}

@keyframes scale-y-awake {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

header {
  width: 100%;
  height: calc(100vh - 50px);
  max-width: 1675px;
  flex: none;

  @include flex("space-between&start", "col");

  & #credentials {
    width: 100%;
    font-size: 12px;
    list-style: none;

    @include flex("space-between&center");

    & li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $prime-text-color;
        transform: scaleX(0);
        animation: 1500ms scale-x-awake cubic-bezier(0.36, 0, 0.34, 0.87);
      }
    }

    & p {
      animation: 750ms opacity-awake step-end;
    }
  }

  & #description {
    width: 100%;
    font-size: 18px;
    list-style: none;

    & li {
      overflow: hidden;
    }

    & p {
      margin: 0 0 10px;
      animation: 2500ms opacity-up-awake cubic-bezier(0.36, 0, 0.34, 0.87);
    }
  }

  & #scroll {
    position: relative;
    height: 200px;
    margin-left: auto;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    overflow: hidden;

    & p {
      animation: 1000ms opacity-left-awake cubic-bezier(0.36, 0, 0.34, 0.87);
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      border-right: 1px solid $prime-text-color;
      transform-origin: top;
      animation: 1000ms scale-y-awake cubic-bezier(0.36, 0, 0.34, 0.87);
    }
  }
}

@media (width <= 750px) {
  header {
    & #description {
      font-size: 12px;
    }
  }
}
