@import "../utils/mixins";
@import "../utils/variables";

@keyframes opacity-awake {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-up-awake {
  0%,
  50% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-x-awake {
  0%,
  20% {
    transform-origin: right;
    transform: scaleX(0);
  }

  54% {
    transform-origin: right;
    transform: scaleX(1);
  }

  55% {
    transform-origin: left;
    transform: scaleX(1);
  }

  100% {
    transform-origin: left;
    transform: scaleX(0);
  }
}

header {
  width: 100%;
  max-width: 1675px;
  flex: none;

  & #credentials {
    font-size: 12px;
    list-style: none;

    @include flex("space-between&center");

    & li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $prime-text-color;
        transform: scaleX(0);
        animation: 1500ms scale-x-awake cubic-bezier(0.36, 0, 0.34, 0.87);
      }
    }

    & p {
      animation: 750ms opacity-awake step-end;
    }
  }

  & #description {
    width: 100%;
    margin: 25px 0 50px;
    list-style: none;

    & li {
      overflow: hidden;

      & p {
        margin: 0 0 10px;
        animation: 2000ms opacity-up-awake cubic-bezier(0.36, 0, 0.34, 0.87);
      }
    }
  }
}
