@import "../utils/variables";
@import "../utils/mixins";

@keyframes opacity-awake {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#score {
  width: max-content;
  font-size: 20px;
  text-transform: uppercase;

  & p {
    animation: 3000ms opacity-awake cubic-bezier(0.36, 0, 0.34, 0.87);

    @include flex("center&center");

    & span {
      display: inline-block;
      width: 60px;
      height: 60px;
      padding: 10px;
      background-color: $prime-text-color;
      color: $prime-background-color;
      border-radius: 100%;

      @include flex("center&center");
    }
  }
}
