@import "../utils/variables";
@import "../utils/mixins";

#title {
  color: $prime-text-color;
  font-family: "Six Caps", sans-serif;
  font-size: clamp(12px, 13vw, 255px);
  text-transform: uppercase;
  overflow: hidden;
  flex: none;

  & span {
    display: inline-block;
    transition: $animation-text-transition;

    &.disabled {
      transform: translateX(100%) scaleX(0);
      opacity: 0;
    }
  }
}
