@import "../utils/variables";
@import "../utils/mixins";

#title {
  // min-height: 200px;
  color: $prime-text-color;
  font-family: SixCaps, sans-serif;
  font-size: clamp(16px, 14.5vw, 285px);
  text-transform: uppercase;
  overflow: hidden;
  flex: none;

  @include flex("center&center");

  & span {
    display: inline-block;
    transition: $animation-text-transition;

    &.disabled {
      transform: translateX(100%) scaleX(0);
      opacity: 0;
    }
  }
}
