@import "../utils/variables";

.button {
  cursor: pointer;

  padding: 12px 18px;

  font-size: 14px;
  font-weight: 400;
  color: $background-white;

  background: $primary-text-color;
  border: none;
  border-radius: 8px;

  &:hover {
    background-color: $select-button;
  }
}
