@import "../utils/variables";
@import "../utils/mixins";

#header {
  @include flex("center&center");

  width: 100%;
  height: 72px;
  padding: 0 16px 0 0;

  color: $text-color-header;

  background-color: $background-color-header;

  #menu-button {
    @include flex("center&center");

    cursor: pointer;

    flex: none;

    width: 72px;
    height: 72px;

    background-color: $background-color-menu-button;

    &:hover {
      background-color: $background-color-button;
    }
  }

  #split {
    height: 40px;
    border: 1px solid $border-color-header-split;
  }

  #title {
    @include flex("center&center");

    height: 100%;
    padding: 0 30px 0 25px;
  }

  #document-name {
    @include flex("start&center");

    width: 100%;
    height: 100%;
    padding: 0 0 0 24px;

    & svg {
      flex: none;
    }

    #name-input {
      width: 100%;
      margin: 0 0 0 16px;

      & p {
        @include pick-font("Body (M)");
        @include flex("start&end");

        height: 36px;
        padding: 0 0 1.5px;
        color: $text-color-second;
      }

      #input-button-area {
        height: 36px;
        padding: 1.5px 0 0;

        & button {
          @include pick-font("Heading (M)");

          cursor: pointer;

          color: inherit;

          background-color: transparent;
        }

        & input {
          @include pick-font("Heading (M)");

          width: 100%;
          max-width: 400px;
          padding: 0 0 5px;

          color: inherit;

          background-color: transparent;
          border: none;
          border-bottom: 1px solid $text-color-header;
          outline: none;
        }
      }
    }
  }

  #delete {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }

  #save {
    @include flex("center&center");
    @include pick-font("Heading (M)");

    cursor: pointer;

    flex: none;

    width: 152px;
    height: 40px;
    margin: 0 0 0 24px;

    color: inherit;

    background-color: $background-color-button;
    border-radius: 4px;

    & p {
      margin: 0 0 0 8px;
    }

    &:hover{
      background-color: $background-color-button-hover;
    }
  }
}

@media (width < 768px) {
  #header {
    height: 56px;

    #menu-button {
      width: 56px;
      height: 56px;
    }

    #title,
    #split {
      display: none;
      visibility: hidden;
    }

    #document-name {
      #name-input {
        & p {
          display: none;
          visibility: hidden;
        }

        #input-button-area {
          height: max-content;
        }
      }
    }

    #save {
      width: 40px;
      height: 40px;

      & p {
        display: none;
        visibility: hidden;
      }
    }
  }
}
