@import "../utils/mixins";
@import "../utils/variables";

#preview {
    width: 100%;
    height: 100%;
  
    & #preview-section-head{
      @include pick-font("Heading (S)");
      @include flex("start&center");
  
      height: 42px;
      padding: 0 0 0 16px;
      color: $light-text-color-section-head;
      background-color: $light-background-color-section-head;
    }
  }