@import "../utils/variables";
@import "../utils/mixin";

#audio {

  @include flex("center&center");

  cursor: pointer;

  position: relative;

  width: 75px;
  height: 75px;

  border-radius: 50%;

  &:hover {
    background-color: $background-button-hover-color;

    & path {
      fill: $background-color-light;
    }
  }

  & audio {
    position: absolute;
  }
}

@media (width < 768px) {
  #audio {
    width: 48px;
    height: 48px;
  }
}
