@import "../utils/variables";
@import "../utils/mixin";

#audio {
  cursor: pointer;
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;

  @include flex("center&center");

  &:hover {
    background-color: $background-button-hover-color;

    & path {
      fill: $background-color-light;
    }
  }

  & audio {
    position: absolute;
  }
}
