@import "../utils/mixin";
@import "../utils/variables";

.definition {
  margin: 0 0 40px;

  &.dark {
    color: $text-color-dark;

    & h2 {
      &::after {
        border-color: $border-color-dark;
      }
    }
  }

  & h3 {
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 400;
    color: $text-color-desc;
  }

  & ul {
    list-style: none;
  }

  & #part-of-speech {
    @include flex("center&center");

    margin: 0 0 40px;
    font-size: 24px;
    font-weight: 700;

    &::after {
      content: "";

      width: 100%;
      margin: 0 0 0 20px;

      border-color: $border-color-light;
      border-bottom: 1px solid;
    }
  }

  & .meanings {
    font-size: 18px;
    line-height: 24px;

    & ul {
      padding: 0 0 0 22px;
    }

    & li {
      margin: 0 0 13px;

      &:last-child {
        margin: 0;
      }

      & .meaning {
        @include flex("start&center");

        &::before {
          content: "";

          flex: none;

          width: 5px;
          height: 5px;
          margin: 0 20px 0 0;

          background-color: $text-color-highlight;
          border-radius: 50%;
        }
      }

      & .example {
        margin: 13px 25px 0;
        color: $text-color-desc;
      }
    }
  }

  & .sym-ant {
    @include flex("start&center");

    margin: 40px 0 0;
    font-size: 20px;
    font-weight: 700;

    & h3 {
      margin: 0 20px 0 0;
    }

    & ul {
      @include flex("center&center");

      flex-wrap: wrap;
    }

    & li {
      margin: 0 20px;
      color: $text-color-highlight;

      &:hover {
        text-decoration: underline;
        text-decoration-color: $text-color-highlight;
      }

      &:last-child {
        margin: 0;
      }

      & a {
        color: $text-color-highlight;
      }
    }
  }
}

@media (width < 768px) {
  .definition {
    & h3 {
      margin: 0 0 17px;
      font-size: 16px;
    }

    & #part-of-speech {
      margin: 0 0 32px;
      font-size: 18px;
    }

    & .meanings {
      font-size: 15px;
      line-height: 24px;

      & ul {
        padding: 0;
      }
    }

    & .sym-ant {
      font-size: 16px;

      & h3 {
        margin: 0 8px 0 0;
      }

      & ul {
        & li {
          margin: 0 8px;
        }
      }
    }
  }
}
