@import "../utils/variables";
@import "../utils/mixin";

#header {
  width: 100%;

  @include flex("space-between&center");

  #controls {
    @include flex("space-between&center");

    column-gap: 26px;

    & span {
      height: 32px;
      border-left: 1px solid $border-color-light;
    }
  }
}
