@import "../utils/variables";
@import "../utils/mixin";

#mode {
  @include flex("space-between&center");

  width: 80px;
  height: 20px;

  #switch {
    position: relative;
    width: 40px;
    height: 20px;

    & #mode-change {
      width: 0;
      height: 0;
      opacity: 0;
    }

    & .slider {
      cursor: pointer;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: $text-color-desc;
      border-radius: 10px;

      transition: 0.2s ease-in-out;

      &::before {
        content: "";

        position: absolute;
        bottom: 3px;
        left: 3px;

        width: 14px;
        height: 14px;

        background-color: $background-color-light;
        border-radius: 50%;

        transition: 0.2s ease-in-out;
      }
    }

    & #mode-change:checked + .slider,
    #mode-change:hover + .slider {
      background-color: $text-color-highlight;
    }

    & #mode-change:checked + .slider::before {
      transform: translateX(20px);
    }
  }

  & #moon-icon {
    &.dark {
      & path {
        stroke: $text-color-highlight;
      }
    }
  }
}

@media (width < 768px) {
  #mode {
    width: 72px;
  }
}
