@import "../utils/variables";
@import "../utils/mixins";

#background {

  @include flex("center&center", "col");

  user-select: none;

  position: fixed;
  z-index: -1;
  top: 0;

  width: 100%;
  height: 100%;

  & img {
    width: 1920px;
  }
}

header {

  @include flex("center&center");

  width: 100%;
  padding: 130px 0 0;
  font-size: 12px;
  letter-spacing: 10px;
}

main {

  @include flex("center&center");

  column-gap: 32px;
  margin: 110px 0 250px;
}

footer {
  width: 100%;

  & ul {

    @include flex("center&center");

    column-gap: 32px;
    list-style: none;

    & li {
      cursor: pointer;

      & svg:hover {
        & path {
          fill: $digit-bottom-text-color;
        }
      }
    }
  }
}

@media screen and (width <= 700px) {
  main {
    column-gap: 16px;
    margin: 54px 0 250px;
  }

  header {
    font-size: 8px;
    letter-spacing: 8px;

    & h1 {
      max-width: 280px;
      text-align: center;
    }
  }
}
