@import "./utils/variables";
@import "./utils//mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: $prime-text-color;
}

body,
div[id="root"] {
  width: 100%;
}

main {
  @include flex("center&center", "");

  min-height: calc(100vh - 40px);

  @media screen and (max-width: $mobile) {
    @include flex("start&center", "col");
  }
}

footer {
  height: 40px;
  font-size: 14px;
  color: $summary-color;
  text-align: center;
}
