@import "./utils/variables";
@import "./utils/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div[id="root"] {
  width: 100%;
  min-height: 100vh;
}

html {
  color: $prime-text-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

div[id="root"] {
  padding: 25px;
  background-color: $prime-background-color;
}

main {
  margin: 50px 0 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
