// General color
$background-color-header: #2b2d31;
$background-color-button: #e46643;
$background-color-button-hover: #f39765;
$background-color-menu-button: #35393f;
$background-color-sidebar: #1d1f22;
$border-color-header-split: #5a6069;
$text-color-header: #fff;
$text-color-second: #7c8187;
$text-color-preview-header6: #e46643;
$list-style-color: #e46643;
$citation-border-color: #e46643;

// Light version
$light-background-color: #fff;
$light-background-color-section-head: #f5f5f5;
$light-background-color-citation: #f5f5f5;
$light-background-color-code: #f5f5f5;
$light-border-color-boundary: #e4e4e4;
$light-text-color-section-head: #7c8187;
$light-text-color-markdown: #35393f;
$light-text-color-preview: #35393f;
$light-text-color-preview-headers: #35393f;

// Dark version
$dark-background-color: #151619;
$dark-background-color-section-head: #1d1f22;
$dark-background-color-citation: #2b2d31;
$dark-background-color-code: #2b2d31;
$dark-border-color-boundary: #e4e4e4;
$dark-text-color-section-head: #c1c4cb;
$dark-text-color-markdown: #c1c4cb;
$dark-text-color-preview: #c1c4cb;
$dark-text-color-preview-headers: #fff;
