@import "../utils/variables";
@import "../utils/mixins";

.button {
  @include flex("center&center", "");

  cursor: pointer;

  width: 288px;
  height: 56px;

  font-size: $prime-font-size;
  color: $prime-text-color;

  background: $summary-color;
  border: none;
  border-radius: 28px;

  &:hover {
    background: $gradient-background;
  }
}

@media screen and (max-width: $mobile) {
  .button {
    width: 315px;
  }
}
