@import "../utils/mixin";
@import "../utils/variables";

#content {
  width: 100%;
  min-height: 100vh;
  padding: 58px 40px 128px;

  @include flex("start&center", "col");

  &.dark {
    background-color: $background-color-dark;
    color: $text-color-dark;

    #source {
      border-color: $border-color-dark;
    }
  }

  &.sans-serif {
    font-family: Inter, sans-serif;

    & h2 {
      font-style: italic;
    }
  }

  &.serif {
    font-family: Lora, serif;
  }

  &.mono {
    font-family: Inconsolata, monospace;
  }

  & main {
    width: 100%;
    max-width: 736px;
  }

  & #word {
    margin: 52px 0 0;

    @include flex("space-between&center");

    & #text {
      & p:first-child {
        margin: 0 0 11px;
        font-size: 64px;
        font-weight: 700;
      }

      & p:last-child {
        font-size: 24px;
        color: $text-color-highlight;
        font-family: Inter, sans-serif;
      }
    }
  }

  & #meanings {
    margin: 42px 0 0;
  }

  & #not-found {
    margin: 132px 0 0;
    font-size: 64px;

    @include flex("center&center", "col");

    & h2 {
      margin: 44px 0 24px;
      font-size: 20px;
      font-weight: 700;
      font-style: normal;
    }

    & p {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }

  & #source {
    min-height: 36px;
    padding: 21px 0 0;
    border-top: 1px solid;
    border-color: $border-color-light;
    font-size: 14px;

    @include flex("");

    flex-wrap: wrap;

    & p {
      margin: 0 25px 0 0;
      color: $text-color-desc;
      text-decoration: underline;
    }

    & a {
      color: inherit;

      & svg {
        margin: 0 0 0 8px;
      }
    }
  }
}

@media (width < 738px) {
  #content {
    padding: 24px 24px 85px;

    & #meanings {
      margin: 32px 0 0;
    }

    & #word {
      margin: 24px 0 0;

      & #text {
        & p:first-child {
          font-size: 32px;
        }

        & p:last-child {
          font-size: 18px;
        }
      }
    }

    #source {
      & p {
        margin: 0 25px 8px 0;
      }
    }
  }
}
