@import "./utils/variables";
@import "./utils/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $primary-text-color;
}

body,
div[id="root"] {
  @include flex("center&center");

  width: 100%;
  min-height: 100vh;
}

body {
  background-color: $background-global;
}

@media screen and (width <= 940px) {
  div[id="root"] {
    @include flex("space-between&center", "col");
  }
}
