@import "./utils/variables";
@import "./utils/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: RedHatText, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $white;
}

body {
  width: 100vw;
  height: 100vh;
  background: $background-gradient;
}

div[id="root"] {
  height: 100%;
}
